html{
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	background: #fcee47;
}

.header{
	width: 100%;
	height: 13vh;
}

header{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fcee47;
	border-bottom: 5px solid black;
}

.header h1{
	text-align: center;
	float: left;
	text-transform: uppercase;
}
.header h2{
	float: left;
}

#logo{
	height: 100%;
	float: left;
	margin-right: 1.5em;
	margin-left: 2em;
}

.container{
	margin-top: 1em;
	background: #fcee47;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #fcee47, #45B649);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #fcee47, #45B649); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 87vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content{
	margin-top: 2em
	max-width: 960px;
	width: 90%;
	height: 80%;
	background-color: white;
	padding: 1em;
	border-radius: 30px;
	overflow-y: scroll;
	text-align: center;
	box-shadow: 0 3px 6px #000, 0 3px 6px #000;
}

.content h2{
	font-size: 3em;
	width: 100%;
	padding-bottom: 0.8em;
	border-bottom: 3px solid #45B649;
	text-transform: uppercase;
}

.products{
	height: 100%;
	justify-content: center;
	align-content: center;
	padding-right: auto;
	padding-left: 2.5em;
}

.product{
	width: 40%;
	float: left;
	margin-right: 2em;
	margin-left: 2em;
	margin-bottom: 2em;
	border: 3px solid black;
	padding: 0.2em;
	padding-bottom: 1em;
	box-shadow: 0 3px 6px #000, 0 3px 6px #000;
}

.product img{
	width: 100%;
}

.moreInfo{
	margin-right: 15%;
	margin-left: 15%;
	margin-top: 0.5em;
	align-items: center;
	padding-top: 0.1em;
	padding-bottom: 1em;
	border-radius: 10px;
	box-shadow: 0 3px 6px #000;
	border: 1px solid black;
}

.moreInfo h3{
	font-size: 1.5em;
}

